html{
  background: url(../images/maxresdefault.jpg);
  background-size: cover;
  background-attachment: fixed;
}

body {
  font-family: 'Catamaran', sans-serif;
  margin: 50px 50px 50px 50px;
  background-color: white;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p{
  text-align: justify;
  margin-left: 25px;
  margin-right: 25px;
}

u.spoilers {
  color: red;
}

div.PImagen{
  text-align: center;
}
